
.container {
  display: flex;
  flex-direction: column;

}

/*header*/

.header {
  align-items: center;
  h1 {
    margin: 15px;
    font-size: 36px;
  }
  p {
    margin: 15px;
    font-size: 28px;
    font-weight: bold;
  }
}

/*game*/

.game .buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  button {
    margin: 15px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 10%;
    &:hover {
      box-shadow: 3px 3px 5px black;
    }
    i {
      transform: scale(4);
    }
  }
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  div {
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
  }
}
